.wow-window-decoration {
    position: absolute;
    inset: 0 10px 0 0;
    pointer-events: none;
    z-index: 4;
}

.wow-window-frame {
    position: absolute;
    background-repeat: no-repeat;
}

.wow-window-top {
    inset: 0 94px auto;
    height: 95px;
    background: url("/assets/talent-window/window-frame/_ui-frame-metal-edgetop-c60-2x.webp") left top / 128px 95px repeat-x;
}

.wow-window-bottom {
    inset: auto 94px 0;
    height: 100px;
    background: url("/assets/talent-window/window-frame/_ui-frame-metal-edgebottom-c60-2x.webp") left bottom / 128px 100px repeat-x;
}

.wow-window-left {
    inset: 94px auto 99px 0;
    width: 95px;
    background: url("/assets/talent-window/window-frame/!ui-frame-metal-edgeleft-c60-2x.webp") left top / 95px 128px repeat-y;
}

.wow-window-right {
    inset: 94px 0 99px auto;
    width: 95px;
    background: url("/assets/talent-window/window-frame/!ui-frame-metal-edgeright-c60-2x.webp") right top / 95px 128px repeat-y;
}

.wow-window-top-left {
    top: 0;
    left: 0;
    width: 95px;
    height: 95px;
    background-image: url("/assets/talent-window/window-frame/ui-frame-metal-cornertopleft-c60-2x.webp");
    background-size: contain;
}

.wow-window-top-right {
    top: 0;
    right: 0;
    width: 95px;
    height: 95px;
    background-image: url("/assets/talent-window/window-frame/ui-frame-metal-cornertopright-c60-2x.webp");
    background-size: contain;
}

.wow-window-bottom-left {
    bottom: 0;
    left: 0;
    width: 95px;
    height: 100px;
    background-image: url("/assets/talent-window/window-frame/ui-frame-metal-cornerbottomleft-c60-2x.webp");
    background-size: contain;
}

.wow-window-bottom-right {
    bottom: 0;
    right: 0;
    width: 95px;
    height: 100px;
    background-image: url("/assets/talent-window/window-frame/ui-frame-metal-cornerbottomright-c60-2x.webp");
    background-size: contain;
}

.wow-window-portrait {
    position: absolute;
    left: 12px;
    top: 12px;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    object-fit: cover;
}

.wow-window-portrait-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 95px;
    height: 95px;
    background: url("/assets/talent-window/window-frame/ui-frame-portraitmetal-cornertopleft-c60-2x.webp") center / contain no-repeat;
}

.wow-window-title {
    position: absolute;
    z-index: 5;
    top: 16px;
    left: 95px;
    right: 95px;
    color: #f0e9dc;
    font-size: 17px;
    font-weight: normal;
    line-height: 22px;
    text-align: center;
    text-shadow: 1px 1px 2px #000;
}

.wow-window-close {
    position: absolute;
    z-index: 6;
    top: 12px;
    right: 12px;
}