.item-level {
  color: var(--character-info-color);
}

.item-transmog {
  white-space: pre-wrap;
  color: var(--character-transmog-color);
}

.item-attribute {
  color: var(--character-attribute-color);
}

.character-equipment-enchant {
  color: var(--character-attribute-color);
}
