.player-section-label {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--muted-color);
}
.player-section-divider {
  display: none;
  width: 1px;
  height: 66px;
  background-color: var(--muted-color-alt);
}

.player-section {
  flex-direction: column;
  gap: 0.125rem;
  width: 50%;
}

.player-section-value {
  margin-top: 0.5rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  white-space: nowrap;
}

.player-section-deferred {
  display: none;
}

@media (width < 48rem) {
  .player-section-deferred {
    display: flex;
  }
}

@media (width >= 48rem) {
  .player-section {
    width: fit-content;
  }
  .player-section-divider-medium {
    display: block;
  }
}

@media (width >= 64rem) {
  .player-section-divider-wide {
    display: block;
  }
  .player-section-deferred {
    display: flex;
  }
}
